body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  /* Footer Color */
  --footer-letter: #fff;
  --footer-bg: #000;

  /* Header Color */
  --header-letter: #fff;
  --header-bg: #000;
}
